*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    /* background page gray*/
    background-color: #d9d9d9;
    font-family: Helvetica, Arial, sans-serif;
}
header {
    padding: 20px 35px;        
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

}

