*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    /* background page gray*/
    background-color: #d9d9d9;
    font-family: Helvetica, Arial, sans-serif;
}
header {
    background-color: #404040;
    z-index: 9999;
}
.hero {
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    position: relative;
}
.hero h2 {
    padding: 100px;
}
.about h2, .work h2, .contact h2 {
    font-size: 38px;
    padding: 75px;
}


