*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    /* background page gray*/
    background-color: #d9d9d9;
    font-family: Helvetica, Arial, sans-serif;
}
/* header styles begin*/
header {
    background-color: #008080;
    display: flex;
    justify-content: space-between;
}
header h1 {
    font-size: 40px;
    color: #d9d9d9;
    font-weight: bold;
    margin: 0 200px 0 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
header nav ul li a {
    justify-content: space-between;
}
header a {
    font-size: 2 vw;
    color: #d9d9d9;
    text-decoration: none;
    font-weight: bold;
}
/* header styles end*/
/* hero styles begin*/
.hero {
    background-image: url("../images/pattern.jpg");
    background-size: cover;
    position: relative;
}
.hero h2 {
    padding: 100px;
}
/* hero styles end*/
/*about me section begin*/
#About-Me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.about h2 {
    font-style: bold;
    font-size: 50px;
    font-style: italic;
    text-align: center;
}
.about {
    width: 400px;
    height: 200px;
    margin: 25px 0 0 -200px;
}
.photo {
    width: 200px;
    height: 200px;
    margin: 50px -200px 0 0 ;
}
/*About me section end*/
/* My work section styles begin*/
.run img {
    width: 400px;
    height: 200px;
}
.work img:hover {
    width: 600px;
    height: 400px;
}
.horiseon img {
    width: 400px;
    height: 200px;
}
.wave img, .sun img {
    width: 400px;
    height: 200px;
}
.my-work h2 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}
.work {
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-columns: repeat(2, 2fr);
    margin: 0 300px 0 300px;
}
.work img {
    display: grid;
}
.grid-item1 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.grid-item2 {
    display: grid;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    object-fit: ;
}
.grid-item3 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.grid-item4 {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.work a {
    color:black;
    font-size: 24px;
    text-decoration: none;
    font-weight: bold;
}
/* My work section styles end*/
/* contact styles begin*/
#Contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.contact h2 {
    font-size: 50px;
    text-align: center;
    font-style: italic;
    margin: 50px 0 25px 0;
}
.stuff {
    margin: auto;
    display: inline;
    width: 100px;
    height: 100px;
    margin: 50px 100px 0px 100px;
}
.stuff a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.stuff label {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

/* contact styles end*/